# Data Preparation

In [6]:
# Load nyc_geo JSON
import json
import pandas as pd
from pandas.io.json import json_normalize

file = open('nyc_geo.json')
data = json.load(file)

### Task
Parse the json **nyc_geo.json** into the dataframe with the following columns:
- Borough
- Neighborhood
- Latitude
- Longitude

In [10]:
data.keys()

dict_keys(['type', 'totalFeatures', 'features', 'crs', 'bbox'])

In [45]:
df = pd.json_normalize(data['features'])
df.head()

,type,id,geometry_name,geometry.type,geometry.coordinates,properties.name,properties.stacked,properties.annoline1,properties.annoline2,properties.annoline3,properties.annoangle,properties.borough,properties.bbox
0,Feature,nyu_2451_34572.1,geom,Point,"[-73.84720052054902, 40.89470517661]",Wakefield,1,Wakefield,None,None,0.0,Bronx,"[-73.84720052054902, 40.89470517661, -73.84720..."
1,Feature,nyu_2451_34572.2,geom,Point,"[-73.82993910812398, 40.87429419303012]",Co-op City,2,Co-op,City,None,0.0,Bronx,"[-73.82993910812398, 40.87429419303012, -73.82..."
2,Feature,nyu_2451_34572.3,geom,Point,"[-73.82780644716412, 40.887555677350775]",Eastchester,1,Eastchester,None,None,0.0,Bronx,"[-73.82780644716412, 40.887555677350775, -73.8..."
3,Feature,nyu_2451_34572.4,geom,Point,"[-73.90564259591682, 40.89543742690383]",Fieldston,1,Fieldston,None,None,0.0,Bronx,"[-73.90564259591682, 40.89543742690383, -73.90..."
4,Feature,nyu_2451_34572.5,geom,Point,"[-73.9125854610857, 40.890834493891305]",Riverdale,1,Riverdale,None,None,0.0,Bronx,"[-73.9125854610857, 40.890834493891305, -73.91..."

In [48]:
# Separate coordinates into longitude and latitude columns
longitude = []
latitude = []

for row in df['geometry.coordinates']:
    longitude.append(row[0])
    latitude.append(row[1])

df['longitude'] = longitude
df['latitude'] = latitude

In [53]:
# Tidy Data
nyc_df = df[['properties.name', 'properties.borough', 'longitude', 'latitude']]
nyc_df.columns = ['neighborhood', 'borough', 'longitude', 'latitude']
nyc_df

     neighborhood        borough  longitude   latitude
0       Wakefield          Bronx -73.847201  40.894705
1      Co-op City          Bronx -73.829939  40.874294
2     Eastchester          Bronx -73.827806  40.887556
3       Fieldston          Bronx -73.905643  40.895437
4       Riverdale          Bronx -73.912585  40.890834
..            ...            ...        ...        ...
301  Hudson Yards      Manhattan -74.000111  40.756658
302       Hammels         Queens -73.805530  40.587338
303     Bayswater         Queens -73.765968  40.611322
304  Queensbridge         Queens -73.945631  40.756091
305     Fox Hills  Staten Island -74.081740  40.617311

[306 rows x 4 columns]

### Task
Use different data sources and APIs to collect information about the neigborhoods that can be used for segmentation.

### Task

Visualize the neigborhoods in the graph.