# Clustering
In this file, instructions how to approach the challenge can be found.

We can use different types of clustering algorithms:

- KMeans
- Hierarchical
- DBScan

In [21]:
import pandas as pd
import numpy as np

In [22]:
# import data
data = pd.read_csv('/Users/karina/GitHub/NYC_midterm_project/data/main_dataset.csv')
data = data.iloc[:, 2:]
data.head()

,borough,neighborhood,longitude,latitude,population,number_of_restaurants,average_review_count,average_restaurant_rating,average_price_level
0,Bronx,Wakefield,-73.847201,40.894705,21242.0,13,169,4.0,1
1,Bronx,Co-op City,-73.829939,40.874294,43752.0,12,771,4.0,2
2,Bronx,Eastchester,-73.827806,40.887556,11506.0,19,532,4.1,1
3,Bronx,Fieldston,-73.905643,40.895437,9287.0,9,297,4.4,1
4,Bronx,Riverdale,-73.912585,40.890834,9287.0,14,319,4.0,2

In [23]:
data.borough.unique()

array(['Bronx', 'Manhattan', 'Brooklyn', 'Queens', 'Staten Island'],
      dtype=object)

In [24]:
data['borough_encode'] = data['borough']
data = data.replace({'borough_encode': {'Bronx': 0, 'Manhattan': 1, 'Brooklyn': 2, 'Queens': 3, 'Staten_Island': 4}})
data.head()

,borough,neighborhood,longitude,latitude,population,number_of_restaurants,average_review_count,average_restaurant_rating,average_price_level,borough_encode
0,Bronx,Wakefield,-73.847201,40.894705,21242.0,13,169,4.0,1,0
1,Bronx,Co-op City,-73.829939,40.874294,43752.0,12,771,4.0,2,0
2,Bronx,Eastchester,-73.827806,40.887556,11506.0,19,532,4.1,1,0
3,Bronx,Fieldston,-73.905643,40.895437,9287.0,9,297,4.4,1,0
4,Bronx,Riverdale,-73.912585,40.890834,9287.0,14,319,4.0,2,0

## Segmentation of NYC neighborhoods

The goal of this project is to segment the neighborhoods of New York City into separate clusters and examine the information about them. For clustering, We can use any available information **except** demographic and economic indicators. We don't want to segment them based on those and we want to keep them for the **profiling of clusters** to see if there are any important economic differences between the created clusters.

### Feature Engineering

Feature engineering plays a crucial role in this problem. We have limited amount of attributes so we need to create some features that will be important for segmentation.

- Google Places, Yelp and Foursquare APIs: number of venues, density of venues per square mile, number of restaurants, top restarurant category...
- Uber: number of rides per day in the neighborhood
- Meetups: number of events
- etc...

### Feature Selection / Dimensionality Reduction¶
We need to apply different selection techniques to find out which one will be the best for our problems.

Original Features vs. PCA conponents?

Don't forget to scale the features for KMeans.

### Modeling

Use different attributes and clustering techniques and compare the created clusters:

- clustering only on restaurant features
- clustering only on Uber features
- clustering only on location
- combination of all

**Questions:**
1. Which clustering is the best?
2. How are neighborhoods split when we select only 2 clusters?
3. Are there any differences in housing and rental costs in different clusters?

### Evaluation

1. Check the segmentation evaluation metrics:
    - inertia
    - silhoutte score
2. How did you come up with the correct number of clusters?
3. Is there any relationship between the clusters and economic indicators? If yes, what does it mean?

You are required to share the file containing all NYC neighborhoods together with cluster_id with LighthouseLabs.