In [31]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [32]:
main_data = pd.read_csv('../data/main_dataset.csv')

In [33]:
main_features = main_data.loc[:,'population':].drop(['restaurant_count','N'], axis=1)

In [34]:
population = main_features['population']
population

0      21242.0
1      43752.0
2      11506.0
3       9287.0
4       9287.0
        ...
301    23383.0
302    12295.0
303    25029.0
304     6677.0
305    11230.0
Name: population, Length: 306, dtype: float64

In [35]:
yelp_types = pd.read_csv('../data/data/yelp_restaurant_type_counts_1km.csv').drop('Unnamed: 0', axis=1)
yelp_types

,caribbean,cocktailbars,seafood,spanish,chinese,breakfast_brunch,japanese,thai,wraps,juicebars,...,pharmacy,farmersmarket,foodtours,bowling,syrian,southafrican,eventservices,bookstores,homedecor,diyfood
0,17.0,1.0,3.0,1.0,4.0,3.0,1.0,1.0,1.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5.0,0.0,4.0,0.0,4.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7.0,0.0,5.0,0.0,1.0,4.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,2.0,1.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,2.0,2.0,0.0,3.0,1.0,3.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,0.0,9.0,4.0,3.0,2.0,7.0,2.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
302,2.0,2.0,2.0,1.0,4.0,2.0,0.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
303,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
304,0.0,4.0,3.0,1.0,6.0,6.0,2.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
305,1.0,0.0,2.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
google_types = pd.read_csv('../data/data/all_venues_data_1km.csv').drop('id', axis=1)
google_types

,accounting,aquarium,art_gallery,bakery,bank,bar,beauty_salon,bicycle_store,book_store,bowling_alley,...,store,subway_station,supermarket,synagogue,tourist_attraction,transit_station,travel_agency,university,veterinary_care,zoo
0,1,0,0,1,2,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
302,0,0,0,1,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
303,0,0,0,0,0,2,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
304,0,0,0,0,0,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
305,0,0,0,0,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0

In [37]:
all_features = pd.concat([population, google_types, yelp_types], axis=1)

In [38]:
all_features.to_csv('../data/data/all_features_counts.csv')

In [39]:
all_features.head()

,population,accounting,aquarium,art_gallery,bakery,bank,bar,beauty_salon,bicycle_store,book_store,...,pharmacy,farmersmarket,foodtours,bowling,syrian,southafrican,eventservices,bookstores,homedecor,diyfood
0,21242.0,1,0,0,1,2,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,43752.0,0,0,0,1,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11506.0,0,0,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9287.0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9287.0,0,0,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
# # divide all rows by population
# for row in range(all_features.shape[0]):
#    all_features.iloc[row] = all_features.iloc[row].div(all_features.iloc[row]['population'])

In [41]:
all_features

,population,accounting,aquarium,art_gallery,bakery,bank,bar,beauty_salon,bicycle_store,book_store,...,pharmacy,farmersmarket,foodtours,bowling,syrian,southafrican,eventservices,bookstores,homedecor,diyfood
0,21242.0,1,0,0,1,2,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,43752.0,0,0,0,1,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11506.0,0,0,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9287.0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9287.0,0,0,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,23383.0,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
302,12295.0,0,0,0,1,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
303,25029.0,0,0,0,0,0,2,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
304,6677.0,0,0,0,0,0,5,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
305,11230.0,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
# remove population
all_features = all_features.drop('population', axis=1)

In [43]:
all_features

,accounting,aquarium,art_gallery,bakery,bank,bar,beauty_salon,bicycle_store,book_store,bowling_alley,...,pharmacy,farmersmarket,foodtours,bowling,syrian,southafrican,eventservices,bookstores,homedecor,diyfood
0,1,0,0,1,2,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,0,1,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,0,0,0,0,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
302,0,0,0,1,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
303,0,0,0,0,0,2,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
304,0,0,0,0,0,5,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
305,0,0,0,0,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
# scaling
scaler = StandardScaler()
all_features_scaled = pd.DataFrame(scaler.fit_transform(all_features), columns=all_features.columns)
all_features_scaled

,accounting,aquarium,art_gallery,bakery,bank,bar,beauty_salon,bicycle_store,book_store,bowling_alley,...,pharmacy,farmersmarket,foodtours,bowling,syrian,southafrican,eventservices,bookstores,homedecor,diyfood
0,2.831104,-0.05726,-0.174078,1.677575,2.489722,-0.491992,-0.272315,-0.13459,-0.218964,-0.202031,...,-0.05726,-0.05726,-0.099504,-0.099504,-0.081111,-0.05726,-0.05726,-0.099504,-0.099504,-0.05726
1,-0.307729,-0.05726,-0.174078,1.677575,0.998812,-0.491992,-0.272315,-0.13459,-0.218964,-0.202031,...,-0.05726,-0.05726,-0.099504,-0.099504,-0.081111,-0.05726,-0.05726,-0.099504,-0.099504,-0.05726
2,-0.307729,-0.05726,-0.174078,-0.470283,-0.492098,0.304567,-0.272315,-0.13459,-0.218964,-0.202031,...,-0.05726,-0.05726,-0.099504,-0.099504,-0.081111,-0.05726,-0.05726,-0.099504,-0.099504,-0.05726
3,-0.307729,-0.05726,-0.174078,-0.470283,-0.492098,-0.491992,-0.272315,-0.13459,-0.218964,-0.202031,...,-0.05726,-0.05726,-0.099504,-0.099504,-0.081111,-0.05726,-0.05726,-0.099504,-0.099504,-0.05726
4,-0.307729,-0.05726,-0.174078,-0.470283,-0.492098,0.304567,-0.272315,-0.13459,-0.218964,-0.202031,...,-0.05726,-0.05726,-0.099504,-0.099504,-0.081111,-0.05726,-0.05726,-0.099504,-0.099504,-0.05726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,-0.307729,-0.05726,-0.174078,-0.470283,0.998812,-0.491992,-0.272315,-0.13459,-0.218964,-0.202031,...,-0.05726,-0.05726,-0.099504,-0.099504,-0.081111,-0.05726,-0.05726,-0.099504,-0.099504,-0.05726
302,-0.307729,-0.05726,-0.174078,1.677575,-0.492098,0.304567,-0.272315,-0.13459,-0.218964,-0.202031,...,-0.05726,-0.05726,-0.099504,-0.099504,-0.081111,-0.05726,-0.05726,-0.099504,-0.099504,-0.05726
303,-0.307729,-0.05726,-0.174078,-0.470283,-0.492098,1.101126,-0.272315,-0.13459,-0.218964,4.949747,...,-0.05726,-0.05726,-0.099504,-0.099504,-0.081111,-0.05726,-0.05726,-0.099504,-0.099504,-0.05726
304,-0.307729,-0.05726,-0.174078,-0.470283,-0.492098,3.490803,-0.272315,-0.13459,-0.218964,-0.202031,...,-0.05726,-0.05726,-0.099504,-0.099504,-0.081111,-0.05726,-0.05726,-0.099504,-0.099504,-0.05726
305,-0.307729,-0.05726,-0.174078,-0.470283,0.998812,-0.491992,-0.272315,-0.13459,-0.218964,-0.202031,...,-0.05726,-0.05726,-0.099504,-0.099504,-0.081111,-0.05726,-0.05726,-0.099504,-0.099504,-0.05726

In [45]:
# export
all_features_scaled.to_csv('../data/data/all_features_scaled.csv', index=False)